

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'JetBrains Mono', monospace;
    background: linear-gradient(90deg, #14131B 0%,#00070B 100%);
    color: #fff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;



}

.container {

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.password-conatiner {
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: #24232C;
     width: 540px;
     height: 80px;
     padding-inline: 32px;

}



img {
    width: 40px;
    color: #fff;
    cursor: pointer;
    background-color: #A4FFAF;
    padding-inline: 1px;
    border-radius: 5px;
}

.password {
    font-size: 32px;
    font-weight: 700;

}

.password-copy {

    border: none;
    background: transparent;

}

.options-container {

    background-color: #24232C;
    width: 540px;
    display: flex;
    flex-direction: column;
    padding: 24px;


    
}


.text {

    font-size:18px;

}

.length-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;


}
.length {
    color : #A4FFAF;
    font-size: 32px;
}


.slider {
    -webkit-appearance: none; /* Corrected property */
    appearance: none;
    margin-bottom: 32px;
    width: 100%;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #E6E6EA;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -12px;
    
}

.slider::-webkit-slider-runnable-track {

    width: 100%;
    height: 4px;
    cursor: pointer;
    background-color: #A4FFAF;
    
}


.input-container {

    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;


}


.input-container input {

    --webkit-appearance: none;
    appearance: none;
    background-color: white;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.input-container input:checked {

    --webkit-appearance: none;
    appearance: none;
    background-color: #A4FFAF;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in ;

}


.btn-generate  {

    background-color: #A4FFAF;
    height: 45px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: 'JetBrains Mono', monospace ;
    margin-top: 24px;
    


}

